.App {
  text-align: center;
  /* background-image: url('../src/projectlogo2.png');
  background-repeat: no-repeat; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: cover; */

}
.App {
  background: url(https://previews.123rf.com/images/nmarques74/nmarques741712/nmarques74171200021/91419155-colorful-world-map-illustration-on-a-blue-blurry-backdrop-.jpg) no-repeat center center fixed;
background-size: cover; /* The image used */

/* Full height */
height: 100%; 

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  height: 30%;
  width:100%

}

.copyRight{
  margin:20px;
}

.transbox {
  margin: 30px;
  background-color: #ffffffd0;
  border-radius: 1%;
  opacity: 0.885;
  height: 50%;
  width: 90%;
}